@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(107.56deg, #4cc8c8 0%, #202033 100%);
  font-family: "Raleway", sans-serif;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  font-size: 2em;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  color: #0088a9;
}

.footer-content {
  color: white;
}

footer {
  font-size: 0.7em;
  text-align: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  padding-bottom: 30px;
}

.container {
  height: 71%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-fields {
  display: flex;
  flex-direction: column;
}
.home-container {
  height: 71%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.home-heading {
  font-size: 4em;
  font-weight: 800;
}

.home-sub-heading {
  font-family: sans-serif;
}

label {
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 10px;
}

input,
select {
  margin: 10px 0;
  width: 20vw;
  background: #3e5f64;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}

input:focus,
select:focus {
  outline: none;
}

.form-title {
  text-align: center;
  padding: 20px 0;
  font-size: 2em;
  font-weight: 600;
}

#form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

button {
  margin: 10px 0;
  background-color: #2b7885;
  /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 40px;
}
.name:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: #8bdbe9;
  color: black;
}
.form-error {
  color: rgb(255, 51, 0);
  font-weight: 500;
}

.lib {
  font-size: medium;
  margin: 0;
  margin-bottom: 2px;
}
.lib > a {
  text-decoration: underline;
  font-weight: 500;
  color: rgb(89, 208, 238);
}
